@import "tailwindcss";

@theme {
  --color-mercury: #840000;
  --color-mercury-50: #ffe5e5;
  --color-mercury-100: #ffcccc;
  --color-mercury-200: #ff9999;
  --color-mercury-300: #ff6666;
  --color-mercury-400: #ff3333;
  --color-mercury-500: #840000;
  --color-mercury-600: #6b0000;
  --color-mercury-700: #520000;
  --color-mercury-800: #390000;
  --color-mercury-900: #1f0000;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}